In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2022-08-06 19:07:59,22.0752,-159.3190,80.92,80,40,9.22
1,1,Lufilufi,WS,2022-08-06 19:07:59,-13.8745,-171.5986,79.95,76,63,14.03
2,2,Krasnoselkup,RU,2022-08-06 19:08:00,65.7000,82.4667,55.58,89,86,10.78
3,3,Sao Cristovao,BR,2022-08-06 19:08:00,-11.0147,-37.2064,78.71,73,75,6.91
4,4,Alofi,NU,2022-08-06 19:08:01,-19.0595,-169.9187,73.29,90,100,23.24

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Adjusting Map with Zoom level

In [7]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable to adjust map & to zoom ina.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Modifying Heat Layer Attributes to create better visuals

In [8]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Assign the figure variable to adjust map & to zoom ina.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
# Also used list comprehension within the heat_layer code to focus on only on temps >0 and eliminate extra code.

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Heatmap of Humidity levels

In [9]:
# Heatmap of Humidity

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

#Get the Humidity %age
humidity = city_data_df["Humidity"]

# Assign the figure variable to adjust map & to zoom ina.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the humidity variable.
# Also used list comprehension within the heat_layer code to focus on only on temps >0 and eliminate extra code.

humidity_layer = gmaps.heatmap_layer(locations, 
                                 weights= humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(humidity_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

   # Cloudiness Heatmap

In [10]:
# Heatmap of Cloudiness

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

#Get the Cloudiness %age
cloudiness = city_data_df["Cloudiness"]

# Assign the figure variable to adjust map & to zoom ina.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the humidity variable.
# Also used list comprehension within the heat_layer code to focus on only on temps >0 and eliminate extra code.

cloud_layer = gmaps.heatmap_layer(locations, 
                                 weights= cloudiness, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(cloud_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

   # Wind Speed Heatmap

In [11]:
# Heatmap of Wind Speed

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

#Get the Wind Speed
wind_speed = city_data_df["Wind Speed"]

# Assign the figure variable to adjust map & to zoom ina.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the humidity variable.
# Also used list comprehension within the heat_layer code to focus on only on temps >0 and eliminate extra code.

windspeed_layer = gmaps.heatmap_layer(locations, 
                                 weights= wind_speed, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(windspeed_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Creating an Interactive user experience to find a suitable Vacation destination

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2022-08-06 19:07:59,22.0752,-159.3190,80.92,80,40,9.22
1,1,Lufilufi,WS,2022-08-06 19:07:59,-13.8745,-171.5986,79.95,76,63,14.03
3,3,Sao Cristovao,BR,2022-08-06 19:08:00,-11.0147,-37.2064,78.71,73,75,6.91
9,9,San Ramon,US,2022-08-06 19:08:02,37.7799,-121.9780,79.48,61,0,12.66
10,10,Hambantota,LK,2022-08-06 19:08:03,6.1241,81.1185,77.34,100,20,5.75
14,14,Kahului,US,2022-08-06 19:03:40,20.8947,-156.4700,87.82,59,20,18.41
16,16,Gunjur,GM,2022-08-06 19:08:05,13.2019,-16.7339,78.87,94,75,0.00
19,19,Jamestown,US,2022-08-06 19:05:45,42.0970,-79.2353,84.94,61,20,13.80
21,21,Atar,MR,2022-08-06 19:08:07,20.5169,-13.0499,86.04,50,99,15.46
22,22,Chapais,CA,2022-08-06 19:08:07,49.7834,-74.8492,83.73,34,75,16.26

In [14]:
preferred_cities_df.count()

City_ID       193
City          193
Country       193
Date          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0           Kapaa      US     80.92  22.0752 -159.3190
1        Lufilufi      WS     79.95 -13.8745 -171.5986
3   Sao Cristovao      BR     78.71 -11.0147  -37.2064
9       San Ramon      US     79.48  37.7799 -121.9780
10     Hambantota      LK     77.34   6.1241   81.1185
14        Kahului      US     87.82  20.8947 -156.4700
16         Gunjur      GM     78.87  13.2019  -16.7339
19      Jamestown      US     84.94  42.0970  -79.2353
21           Atar      MR     86.04  20.5169  -13.0499
22        Chapais      CA     83.73  49.7834  -74.8492

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found....moving on....")

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Hotel not found....moving on....
Hotel not found....moving on....
Hotel not found....moving on....
Hotel not found....moving on....
Hotel not found....moving on....
Hotel not found....moving on....
Hotel not found....moving on....
Hotel not found....moving on....
Hotel not found....moving on....
Hotel not found....moving on....
Hotel not found....moving on....
-----------------------------
Data Retrieval Complete
-----------------------------

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort Hotel
1,Lufilufi,WS,79.95,-13.8745,-171.5986,Leuaina Beach Resort and Spa
3,Sao Cristovao,BR,78.71,-11.0147,-37.2064,Hotel deimar
9,San Ramon,US,79.48,37.7799,-121.9780,San Ramon Marriott
10,Hambantota,LK,77.34,6.1241,81.1185,Bungalow 63
14,Kahului,US,87.82,20.8947,-156.4700,Maui Seaside Hotel
16,Gunjur,GM,78.87,13.2019,-16.7339,Jallo Kurundingoto Eco Tourist Camp
19,Jamestown,US,84.94,42.0970,-79.2353,Hampton Inn & Suites Jamestown
21,Atar,MR,86.04,20.5169,-13.0499,Oumou Elghoura
22,Chapais,CA,83.73,49.7834,-74.8492,Hôtel Opémiska

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Adding information to Map markers & making it more useful

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))